/* css styles */
.sidebar-item .sidebar-item-container {
    margin-bottom: 5px;
}

#title-block-header {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

.dataframe {
    /* background-color: white; */
}
>>>>>>> c4b007f0983e9b9f720f83627e97c51e2fe58b6f
=======
>>>>>>> master
=======
>>>>>>> master
=======
>>>>>>> master
